@tailwind base;
@tailwind components;
@tailwind utilities;

.Varela_round {
    font-family: var(--font-varela);
}

.group:hover .group-hover\:-right-8 {
    right: -2rem;
  }
  
  .group:hover .group-hover\:-top-14 {
    top: -3.5rem;
  }
  
  .group:hover .group-hover\:top-12 {
    top: 3rem;
  }


